- active_li = @abstract_model.to_param || 'home'
:javascript
  $('.nav.nav-pills li.active').removeClass('active');
  $('.nav.nav-pills li[data-model="#{@abstract_model.to_param}"]').addClass('active');
  
  $('#navbar > ul > li.active').removeClass('active');
  $('#navbar > ul > li##{active_li}').addClass('active');
.page-header
  %h1= @page_name
- flash && flash.each do |key, value|
  .alert.alert-dismissible{class: flash_alert_class(key)}
    %button.close{type: 'button', :'data-dismiss' => "alert"} &times;
    = value
= breadcrumb
- unless current_page?(dashboard_path)
  %ul.nav.nav-tabs
    = menu_for((@abstract_model ? (@object.try(:persisted?) ? :member : :collection) : :root), @abstract_model, @object)
    = content_for :contextual_tabs
= yield
