<p id="notice"><%= notice %></p>

<h1>Feedstocks</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feedstocks.each do |feedstock| %>
      <tr>
        <td><%= link_to 'Show', feedstock %></td>
        <td><%= link_to 'Edit', edit_feedstock_path(feedstock) %></td>
        <td><%= link_to 'Destroy', feedstock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feedstock', new_feedstock_path %>
