<p id="notice"><%= notice %></p>

<h1>Harvests</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @harvests.each do |harvest| %>
      <tr>
        <td><%= link_to 'Show', harvest %></td>
        <td><%= link_to 'Edit', edit_harvest_path(harvest) %></td>
        <td><%= link_to 'Destroy', harvest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Harvest', new_harvest_path %>
