<p id="notice"><%= notice %></p>

<h1>Harvests</h1>

<table>
  <thead>
    <tr>
      <th>Biomass</th>
      <th>Plot location</th>
      <th>Plot information</th>
      <th>Fertilizer types</th>
      <th>Fertilizer applications</th>
      <th>Soil information</th>
      <th>Weather information</th>
      <th>Storage location</th>
      <th>Planting date</th>
      <th>Harvest date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @harvests.each do |harvest| %>
      <tr>
        <td><%= harvest.biomass %></td>
        <td><%= harvest.plot_location %></td>
        <td><%= harvest.plot_information %></td>
        <td><%= harvest.fertilizer_types %></td>
        <td><%= harvest.fertilizer_applications %></td>
        <td><%= harvest.soil_information %></td>
        <td><%= harvest.weather_information %></td>
        <td><%= harvest.storage_location %></td>
        <td><%= harvest.planting_date %></td>
        <td><%= harvest.harvest_date %></td>
        <td><%= link_to 'Show', harvest %></td>
        <td><%= link_to 'Edit', edit_harvest_path(harvest) %></td>
        <td><%= link_to 'Destroy', harvest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Harvest', new_harvest_path %>
