/ format: [id<int>, name<string>, icon<string>, color<string>]
- workspace_list = [[1, 'Feedstock Management', 'leaf', 'success'], [2, 'Inventory Management', 'list-ol', 'warning'], [3, 'User<br>Management', 'users', 'primary']]

- workspace_list.each_slice(4) do |workspaces|
  .row
    -workspaces.each do |workspace|
      .col-sm-3
        .panel{class: "panel-#{workspace[3]}"}
          .panel-heading
            .row
              .col-xs-3
                = icon("#{workspace[2]} fa-5x")
              .col-xs-9.text-right
                %h4
                  = workspace[1].html_safe
          %a{class: "text-#{workspace[3]}", href: enter_workspace_path(ws: workspace[0])}
            .panel-footer
              %span.pull-left
                %strong View Workspace
              %span.pull-right
                = icon('arrow-circle-right')
              .clearfix
