%h1 Welcome
%p 
  There are:
  %br
  = pluralize(User.count, 'user')
  %br
  = pluralize(BiomassType.count, 'biomass type')
  %br
  = pluralize(Biomass.count, 'biomass')
  %br
  = pluralize(Feedstock.count, 'feedstock')
  %br
  = pluralize(Harvest.count, 'harvest')