- if @abstract_models # where it's included in user's list of active apps
  - @abstract_models.each_slice(4) do |abstract_models|
    .row
      - abstract_models.each do |abstract_model|
        - if authorized? :index, abstract_model
          - index_path = index_path(model_name: abstract_model.to_param)
          .col-sm-6.col-md-3
            .panel{class: "panel-#{abstract_model.model::COLOR}"}
              .panel-heading
                .row
                  .col-sm-2.col-md-3
                    = icon("#{abstract_model.model::ICON} fa-5x")
                  .col-sm-10.col-md-9.text-right
                    %h4
                      = @count[abstract_model.model.name]
                      %br
                      %strong= capitalize_first_letter(abstract_model.config.label_plural)
              %a.pjax.text-info{href: index_path}
                .panel-footer.text-center
                  %ul.inline.list-inline= menu_for :collection, abstract_model, nil, true
- if @auditing_adapter && authorized?(:history_index)
  %hr
  #block-tables.block
    .content
      %h2= t("admin.actions.history_index.menu")
      = render partial: 'rails_admin/main/dashboard_history'
