- @model_config.list.with(object: @object, view: self, controller: self.controller).visible_groups.each do |fieldset|
  - unless (fields = fieldset.with(object: @object, view: self, controller: self.controller).visible_fields).empty?
    - if !(values = fields.map{ |f| f.formatted_value.presence }).compact.empty? || !RailsAdmin::config.compact_show_view
      .fieldset
        %h4.text-center
          = fieldset.label
        - if fieldset.help
          %p= fieldset.help
        %table.table-bordered{align: :center}
          - fields.each_with_index do |field, index|
            - unless values[index].nil? && RailsAdmin::config.compact_show_view
              %tr
                %td
                  %strong= field.label
                %td= field.pretty_value == '' ? '-' : field.pretty_value
  - unless (associated_fields = fields.select { |f| f.association? && !f.association.polymorphic? && f.label != 'Owner'}).empty?
    %hr
    - associated_fields.each do |afields|
      - next unless afields.value.present?
      %h4.text-center{data: { toggle: 'collapse', target: "##{afields.label.parameterize}_collapse"}}
        = afields.label
      - associated_objects = []
      - if afields.value.respond_to?(:to_a)
        - afields.value.to_a.each { |a| associated_objects << a }
      - else
        - associated_objects << afields.value
      .div{id: "#{afields.label.parameterize}_collapse", class: 'collapse'}
        - associated_objects.each do |aobject|
          %table.table-bordered{align: :center}
            - aobject.attributes.each do |k, v|
              %tr
                %td
                  %strong= k.humanize
                %td= v
          %br
